*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../IMAGES/DSC04677.JPG') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0. 5);
    border-bottom: 1px solid rgb(255, 0, 0);
    backdrop-filter: blur(5px);
}

#chk1 {
    display: none;
}

i {
    color: white;
    margin-left: 5px;
    text-transform: uppercase;
}

header .logo {
    flex: 1;
    color: white;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

span {
    color: red;
}

header .search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(46, 46, 46);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: rgb(110, 110, 110);
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    color: rgb(255, 255, 255);
}

header ul li a:hover {
    border-bottom: 2px solid red;
    border-radius: 1px;
}

header ul li a.active{
    color: #ffffff;
    border-bottom: 2px solid red;
    border-radius: 1px;
}

header .menu {
    font-size: 2.5rem;
    display: none;
}



@media(max-width: 1000px) {
    .search-box button {
        position: absolute;
    }

    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0. 5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
}

@media(max-width:600px) {
    header .logo {
        font-size: 10px;
        margin-left: 8px;
    }

    header ul {
        width: 100%;
    }
}

.main {
  width: 500px;
  top: 44%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 2px solid red;
  border-radius: 15px;
  box-shadow: 10px 25px 30px rgba(0 , 0, 0, 0.5);
  aspect-ratio: 16/9;
}

.wrap {
  display: flex;
  animation: slide 10s infinite;
}

.wrap img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-200%);
  }

  50% {
    transform: translateX(-300%);
  }

  60% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

p{
  font-family: monospace;
  color: white;
  transform: translateY(448px);
  font-size: 20px;
  padding-left: 52px
  
}

/* Style dasar untuk kartu produk */


.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  transform: translateY(470px);
}

.product-card {
  
  overflow: hidden;
  text-align: center;
  width: 240px;
  /* padding: 20px; */
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid red;
}

/* Responsive Design */
@media (max-width: 600px) {
  .product-card {
      width: 100%;
  }
}

footer {
  backdrop-filter: blur(5px);
  border-top: 1px solid rgb(255, 0, 0);
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  width: 100%;
  bottom: -80px;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-section h1,
.footer-section h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.socials a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.socials a:hover {
  transform: translateY(-3px);
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 10px;
}

.links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #ff0000;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #777;
  font-size: 12px;
  color: #ddd;
}